
.container {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.inner {
    display: inline-block;
    width: 300px;
    margin: 0 auto;
    margin-top: 44px;
    text-align: center;

    & img {
        display: block;
        width: 100%;
    }

    & p {
        color: #000;
        font-family: "Helvetica-Light";
    }

    & p:last-child {
        margin-top: 20px;
        color: #888;
        font-size: 16px;
    }

    & a {
        text-decoration: none;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        transition: .2s;
    }

    & a:hover {
        border-bottom-color: #777;
    }
}

@media (width <= 800px) {
    .inner {
        width: 260px;

        & p:last-child {
            font-size: 14px;
        }
    }
}
