
.container {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100vw;
    background: #fff;
    color: #333;
    z-index: 9;
    box-shadow: inset 0 -1px 0 0 #eaedea;

    & header {
        display: flex;
        padding: 0 12px;
        height: 50px;
        line-height: 50px;
        justify-content: space-between;
        align-items: center;
        font-family: 'Roboto';
        font-weight: 100;
        font-size: 20px;
        color: #333;
        box-shadow: inset 0 -1px 0 0 #eaedea;
    }

    & header i {
        cursor: pointer;
    }

    & header i:hover {
        color: red;
    }
}

.list {
    position: relative;
    padding: 8px;
    margin: 0;
    list-style: none;
    max-height: calc(100vh - 90px);
    overflow: hidden;
    overflow-y: auto;

    & li {
        position: relative;
        display: inline-block;
        padding: 0 14px;
        margin: 6px 8px;
        height: 32px;
        line-height: 32px;
        border-radius: 1px;
        cursor: pointer;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        overflow: hidden;
        transition: .2s;
    }


    & li:hover .cover {
        filter: opacity(1);
        transform: scale(1.2);
    }
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: opacity(.6);
    transform: scale(1);
    transition: .2s;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
    }
}

.username {
    position: relative;
    font-size: 13px;

    & :global(.emoji) {
        margin-top: 10px;
    }
}
