
.container {
    position: relative;
    height: 60px;
    width: 100%;
    box-shadow: inset 0 -1px 0 0 #eaedea;

    & input {
        height: 60px;
        width: 100%;
        line-height: 60px;
        background: none;
        outline: 0;
        border: 0;
        font-family: 'Helvetica';
        font-size: 24px;
        font-weight: 100;
        text-indent: 62px;
    }

    & i {
        position: absolute;
        left: 14px;
        top: 50%;
        font-size: 28px;
        color: #d9d9d9;
        transform: translateY(-50%);
    }
}

.dropdown {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    height: calc(100vh - 100px - 60px); /* Height - Header - Footer - Search input */
    overflow-y: auto;
    overflow-x: hidden;

    & header {
        display: flex;
        padding: 13px 16px;
        color: #777;
        font-family: 'Roboto';
        justify-content: space-between;
        align-items: baseline;
    }

    & header h3 {
        margin: 0;
        font-family: 'Helvetica';
        font-weight: 100;
        color: #000;
        border-bottom: 1px solid #000;
        padding: 0 4px 2px 0;
        text-transform: uppercase;
    }

    & header a {
        font-size: 12px;
        text-decoration: none;
        color: #405de6;
    }
}

.user {
    position: relative;
    display: flex;
    padding: 13px 16px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    & img {
        height: 32px;
        width: 32px;
        border-radius: 32px;
    }

    & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &.active,
    &:hover {
        background: #e8edf3;
    }
}

.info {
    margin-left: 16px;
}

.username {
    max-width: 170px;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    font-family: 'Helvetica';
    font-size: 15px;
    color: rgba(74, 74, 74, .9);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.signature {
    max-width: 170px;
    font-size: 14px;
    color: #9b9b9b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (width <= 800px) {
    .container {
        height: 46px;

        & input {
            height: 46px;
            line-height: 46px;
            font-size: 16px;
            text-indent: 36px;
        }

        & i {
            left: 14px;
            font-size: 20px;
        }
    }

    .dropdown {
        top: 46px;
        height: calc(100vh - 86px - 46px);

        & header {
            padding: 6px 16px;
        }

        & header h3 {
            padding: 0 8px 2px 0;
        }

        & header a {
            font-size: 11px;
        }
    }

    .user {
        padding: 6px 16px;

        & img {
            height: 24px;
            width: 24px;
            border-radius: 24px;
        }
    }

    .info {
        margin-left: 16px;
    }

    .username {
        max-width: 160px;
        font-size: 13px;
        margin-bottom: 2px;
    }

    .signature {
        max-width: 160px;
        font-size: 12px;
    }
}
