
.container {
	width: 100%;
}

.chats {
	height: calc(100vh - 160px);
	overflow-x: hidden;
	overflow-y: auto;
}

.chat {
	display: flex;
	height: 48px;
	padding: 13px 16px;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: .2s ease-in-out;

	& img {
		height: 48px;
		width: 48px;
	}

	& > div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&.active,
	&:hover {
		background: #e8edf3;
	}
}

.info {
	display: flex;
	margin-left: 16px;
	justify-content: space-between;
	flex-direction: column;
}

.username {
	max-width: 170px;
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
	font-family: 'Helvetica';
	font-size: 15px;
	color: rgba(74, 74, 74, .9);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.message {
	max-width: 170px;
	font-family: 'Lucida Grande';
	font-size: 14px;
	color: #9b9b9b;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.times {
	font-family: 'Georgia';
	font-size: 12px;
	color: #979797;
}

.reddot {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: 6px;
		right: 0;
		width: 6px;
		height: 6px;
		border-radius: 6px;
		border: 2px solid #fff;
		background: #1eb751;
	}
}
