
.container {

    & header {
        position: relative;
        display: flex;
        width: 100%;
        height: 60px;
        padding-left: 32px;
        justify-content: space-between;
        align-items: center;
    }

    & p {
        margin: 0;
        padding: 0;
        margin-bottom: 6px;
        font-family: 'Helvetica';
        font-size: 15px;
        color: rgba(74, 74, 74, .9);
    }

    & span {
        font-family: 'Lucida Grande';
        font-size: 12px;
        color: #9b9b9b;
    }

    & i {
        position: absolute;
        top: 50%;
        right: calc(32px + 17px);
        display: block;
        font-size: 24px;
        color: #000;
        cursor: pointer;
        transform: translateY(-50%);
    }

    & i:hover {
        color: #34b7f1 !important;
    }
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notfound {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    & .avatar {
        width: 200px;
        margin-bottom: 5vh;
    }

    & h1 {
        font-family: 'Roboto';
        font-weight: 100;
        color: rgba(0,0,0,.8);
        letter-spacing: 2px;
        word-spacing: 4px;
    }
}

.messages {
    width: 100%;
    height: calc(100vh - 160px - 16px);
    padding-top: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

.message {
    max-width: calc(100% - 34px - 48px);
    padding: 0 34px;
    margin-bottom: 20px;

    & > div {
        position: relative;
        display: inline-block;
        padding: 16px 0 0 16px;
    }

    & .avatar {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 32px;
        border-radius: 0;
        z-index: 9;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    }
}

.message.isme {

    & > div {
        display: flex;
        justify-content: flex-end;
    }

    & .avatar {
        left: auto;
        right: -16px;
    }

    & .content {
        background: #7ebef8;
    }

    & p {
        padding: 10.82px 40px 8px 14.8px;
    }

    & .times {
        margin-left: 14.8px;
    }

    & p,
    & .times {
        color: #fff !important;
    }
}

.avatar {
    cursor: pointer;
}

.content {
    position: relative;
    background: #fff;
    box-shadow: 0 6px 28px 0 rgba(230, 230, 230, 100);

    & p {
        margin: 0;
        padding: 10.82px 14.8px 8px 40px;
        font-family: 'Helvetica';
        font-size: 14px;
        color: #777;
        line-height: 22.65px;
    }

    & .times {
        margin-left: 40px;
        margin-bottom: 6px;
        display: inline-block;
        font-family: 'Georgia' !important;
        font-size: 12px !important;
        color: #f65431 !important;
    }
}
