
.container {
    & header {
        position: relative;
        display: flex;
        width: 100%;
        height: 60px;
        padding-left: 32px;
        justify-content: space-between;
        align-items: center;
    }

    & header i {
        position: absolute;
        top: 50%;
        right: calc(32px + 17px);
        display: block;
        font-size: 24px;
        color: #000;
        cursor: pointer;
        transform: translateY(-50%);
    }

    & header i:hover {
        color: #34b7f1;
    }

    & .signature,
    & .times {
        font-family: 'Lucida Grande';
        font-size: 12px;
        color: #9b9b9b;
    }

    & header p {
        max-width: calc(100vw - 311px - 100px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & p {
        margin: 0;
        padding: 0;
        margin-bottom: 6px;
        font-family: 'Helvetica';
        font-size: 15px;
        color: rgba(74, 74, 74, .9);
    }
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notfound {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    & .avatar {
        width: 200px;
        margin-bottom: 5vh;
    }

    & h1 {
        font-family: 'Roboto';
        font-weight: 100;
        color: rgba(0, 0, 0, .8);
        letter-spacing: 2px;
        word-spacing: 4px;
    }
}

.messages {
    width: 100%;
    height: calc(100vh - 160px - 16px);
    padding-top: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

.message {
    max-width: calc(100% - 34px - 48px);
    padding: 0 34px;
    margin-bottom: 20px;

    & > div {
        position: relative;
        display: inline-block;
        padding: 16px 0 0 16px;
    }

    & .avatar {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 32px;
        border-radius: 0;
        z-index: 9;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
        cursor: pointer;
    }
}

.message.system {
    color: #777;
    font-size: 12px;
    text-align: center;

    & a {
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        transition: .2s;
    }

    & a:hover {
        border-bottom-color: #777;
    }
}

.message.isText {
    & .content {
        position: relative;
        background: #fff;
        box-shadow: 0 6px 28px 0 rgba(230, 230, 230, 100);
    }

    & p {
        min-width: 47px;
        margin: 0;
        padding: 10.82px 14.8px 8px 40px;
        font-family: 'Helvetica';
        font-size: 14px;
        color: #777;
        line-height: 22.65px;
    }

    & .times {
        margin-left: 40px;
        margin-bottom: 6px;
        display: inline-block;
        font-family: 'Georgia' !important;
        font-size: 12px !important;
        color: #f65431 !important;
    }
}

.message.isEmoji {
    & > div {
        padding: 16px 0 0 47px;
    }

    & .content img {
        max-width: 80%;
    }
}

.message.isImage {
    & img {
        max-width: 60%;
        cursor: pointer;
    }

    & > div {
        padding: 16px 0 0 47px;
    }

    /* stylelint-disable */
    & :global(.open-image) {
        box-shadow: 0 6px 28px 0 rgba(230, 230, 230, 100);
    }
    /* stylelint-enable */
}

.message.isContact {
    & > div {
        position: relative;
        padding: 16px 0 0 47px;
    }

    & .contact {
        display: flex;
        justify-content: space-between;
        padding: 8px 14px;
        padding-right: 32px;
        background: #fff;
        box-shadow: 0 6px 28px 0 rgba(230, 230, 230, 100);
    }

    & .contact img {
        height: 48px;
        width: 48px;
        margin-right: 24px;
        pointer-events: none;
    }

    & .contact > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        pointer-events: none;
    }

    & .contact p {
        margin: 0;
    }

    & .contact p:last-child {
        font-size: 12px;
        color: rgba(0, 0, 0, .5);
    }

    & i {
        position: absolute;
        top: 50%;
        right: -16px;
        height: 32px;
        width: 32px;
        border-radius: 100%;
        line-height: 32px;
        text-align: center;
        font-size: 14px;
        background: #e1306c;
        box-shadow: 0 0 24px 0 rgba(119, 119, 119, .5);
        cursor: pointer;
        color: #fff;
        transform: translateY(-50%);
    }

    /* stylelint-disable */
    & :global(.is-friend) {
        cursor: pointer;
    }
    /* stylelint-enable */
}

.message.isLocation {
    & img {
        cursor: pointer;
    }

    & p {
        position: relative;
        height: 200px;
        overflow: hidden;
        box-shadow: 0 6px 28px 0 rgba(230, 230, 230, 100);
    }

    & label {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 32px;
        color: #fff;
        line-height: 32px;
        text-indent: 16px;
        background: rgba(0, 0, 0, .7);
    }

    /* stylelint-disable */
    & :global(.open-map) {
        width: 100%;
        transform: translateY(-20%);
    }
    /* stylelint-enable */

    & > div {
        padding: 16px 0 0 47px;
    }
}

.message.isVoice {
    position: relative;

    & p { margin: 0; }

    & .content {
        position: absolute;
        left: 48px;
        top: 0;
        display: flex;
        height: 32px;
        min-width: 120px;
        padding-left: 24px;
        padding-right: 14px;
        justify-content: space-between;
        align-items: center;
        border-radius: 2px;
        background: #fff;
        box-shadow: 0 6px 28px 0 rgba(230, 230, 230, 100);
    }

    & .times {
        white-space: nowrap;
    }

    & i + span {
        font-family: 'Georgia';
        font-size: 12px;
        color: #797979;
        display: inline-block;
        margin-left: 14px;
        transform: translateY(-2px);
    }

    & audio {
        display: none;
    }

    & i {
        pointer-events: none;
    }

    & .playing i,
    & .playing span {
        color: #34b7f1 !important;
    }

    /* stylelint-disable */
    & :global(.play-voice) {
        cursor: pointer;
    }
    /* stylelint-enable */
}

.message.isVideo {
    & video {
        max-width: 90%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    }
}

.message.appMessage {
    font-family: 'Roboto';

    & .content > p {
        font-family: 'Roboto';
    }

    & .content > p > div {
        background: #00d995;
        box-shadow: 0 6px 28px 0 rgba(230, 230, 230, 100);
    }
}

.message.isTransfer {
    position: relative;

    & > div {
        position: relative;
        padding: 16px 0 0 47px;
    }

    & .transfer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 8px 14px;
    }

    & .transfer span {
        display: block;
        padding: 8px 14px;
        font-size: 24px;
        color: #fff;
        border-bottom: 2px solid color(#00d995 blackness(40%));
    }

    & .transfer p {
        color: #fff;
        font-size: 12px;
        margin: 20px 20px 12px;
    }

    & h4 {
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
    }
}

.message.isLocationSharing {
    position: relative;

    & .locationSharing {
        margin-top: -16px;
        margin-left: 32px;
        display: flex;
        height: 32px;
        min-width: 120px;
        padding-left: 12px;
        padding-right: 14px;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        color: #fff;
        border-radius: 2px;
        white-space: nowrap;
        box-shadow: 0 6px 28px 0 rgba(230, 230, 230, 1);
    }

    & .locationSharing i {
        margin-right: 6px;
    }

    & .times {
        margin-left: 32px;
    }
}

.message.isme.isText {
    & > div {
        display: flex;
        justify-content: flex-end;
    }

    & .avatar {
        left: auto;
        right: -16px;
    }

    & .content {
        background: #7ebef8;
    }

    & p {
        padding: 10.82px 40px 8px 14.8px;
    }

    & .times {
        margin-left: 14.8px;
    }

    & p,
    & .times {
        color: #fff !important;
    }
}

.invalidEmoji {
    position: relative;
    margin-top: -30px;

    & > div {
        /* stylelint-disable */
        content: -webkit-image-set(
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIAQMAAABvIyEEAAAABlBMVEUAAABTU1OoaSf/AAAAAXRSTlMAQObYZgAAAENJREFUeF7tzbEJACEQRNGBLeAasBCza2lLEGx0CxFGG9hBMDDxRy/72O9FMnIFapGylsu1fgoBdkXfUHLrQgdfrlJN1BdYBjQQm3UAAAAASUVORK5CYII=) 1x,
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJAAAACQAQMAAADdiHD7AAAABlBMVEUAAABTU1OoaSf/AAAAAXRSTlMAQObYZgAAAFJJREFUeF7t0cENgDAMQ9FwYgxG6WjpaIzCCAxQxVggFuDiCvlLOeRdHR9yzjncHVoq3npu+wQUrUuJHylSTmBaespJyJQoObUeyxDQb3bEm5Au81c0pSCD8HYAAAAASUVORK5CYII=) 2x);
        /* stylelint-enable */
    }

    & > span {
        position: absolute;
        display: block;
        left: 46px;
        bottom: 0;
        white-space: nowrap;
        color: #535353;
    }
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    animation-name: tada;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
